[Unit]
Description=Thermostat Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/worker/thermostat
ExecStart=/bin/bash ./run_server.sh
SyslogIdentifier=thermostat
Restart=always

[Install]
WantedBy=multi-user.target
